/* comentar en css*/
h1{color:brown;text-decoration:underline;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
p{color: darkblue;font-family: Georgia, 'Times New Roman', Times, serif;}
